{% extends 'main/wrapper.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 mt-5">
            <div class="shadow-lg p-3 mb-3 bg-info rounded py-3 text-center text-light"
                style="font-family: 'Times New Roman', Times, serif;">
                <h3 class="mb-0">{{ object.user.first_name }} {{ object.user.last_name }}
                </h3>
            </div>
        </div>
        <div class="col-9">
            <div class="shadow p-4 mt-2 bg-white rounded text-center">
                <em>
                    <h5 class="mb-0">
                        {{ object.body }}
                    </h5>
                </em>
            </div>
            {% if object.user == user %}
            <div class="col-12 text-center mt-2">
                <a type="button" class="btn btn-primary" style="color: rgb(233, 233, 217);" href="{% url 'main:feedback-update' object.pk %}">Изменить</a>
                <a class="btn btn-dark" style="color:rgb(233, 233, 217);" href="{% url 'main:feedback-delete' object.pk %}">Удалить</a>
            </div>
            {% endif %}
        </div>


        <div class="col-12 mt-5 text-center">
            <div class="panel panel-default widget">
                <div class="panel-heading mb-3">
                    <span class="glyphicon glyphicon-comment"></span>
                    <h3 class="panel-title">
                        Последние Комментарии
                    </h3>
                    <h6 class="label label-info">Всего Комментариев: {{ comments|length }}</h6>
                </div>
            </div>
            {%if user.is_authenticated %}
            <div class="col-12 my-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-4 mx-auto">
                        {{ form }}
                        <button class="btn btn-dark btn-sm text-light my-3" type="submit">Комментировать</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
        {% if comments|length > 0 %}
        {% for coma in comments %}
        <div class="col-7 text-center">
            <div class="border border-success rounded-pill my-3 py-3">
                <div class="mb-2">
                    <img src="{% static 'img/chef-2.jpg' %}" class="rounded-circle"
                        alt="user-logo" width="80px"
                        height="80px" />
                </div>

                <div class="col-12 mb-2">
                    <strong class="mb-3">
                        <em>{{ coma.body }}</em>
                    </strong>
                </div>

                <div class="font-weight-bold">
                    Создано:
                    <em class="text-muted">{{ coma.date|date:"H:i d/j/y"}}</em>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}



<!-- 

{{ object.date_created|date:"H:i d/j/y"}} -->