{% extends 'main/wrapper.html' %}
{% load static %}
{% block content %}
<div class="container-fluid gtco-news" id="news">
    <div class="container">
        {% for text in texts %}
        <h2> {{ text }} </h2>
        {% endfor %}
        <div class="owl-carousel owl-carousel2 owl-theme">
            {% for data_text in data %}
            <div>
                <div class="card text-center"><img class="card-img-top" src="{% static data_text.image %}" alt="">
                    <div class="card-body text-left pr-0 pl-0">
                        <h5>{{ data_text.header }}</h5>
                        <p class="card-text">{{ data_text.descriprion }}</p>
                        <a href="#">READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}